!!! 5
html
  head
    script(src="/socket.io/socket.io.js")
  body
    p this is the player
    - if (!session.oauth_access_token)
      a(href="/oauth/login") Login

    div#Player
    script(src='https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js')
    script
      var playbackToken = '#{playbackToken}';
      var songs = !{JSON.stringify(songs)};
    script(src="/ui/scripts/player.js")
